*{
    background-image: url("https://th.bing.com/th/id/OIP.34okHXUqLgLxJXEXl-_ttwHaEJ?rs=1&pid=ImgDetMain");
    background-color: rgba(89, 142, 227, 0.986);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}
.head{
    color: rgb(8, 8, 37);
    z-index: -1;
}
img{
    padding: 20px;
    margin: 20px  ;
    border: 12px groove rgb(10, 3, 133);
    position:;
    left:50px;
}
#ee{
    background-color: blue;
}
footer{
    border: 3px solid black;
    text-align: center;
    position:;
    bottom: 0;
    left: 0;
    
}
@media only screen and(max-width: 600px)